{% extends "base.html" %}
{% block content %}
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>topic</th>
            <th>messages</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in context.results %}
          <tr>
              <!--
              {# <td><a href="/{{ alert.lco_id }}/" title="{{ alert.lco_id }}">{{ alert.lco_id }}</a></td> #}
            -->
              <td>{{ topic.name }}</td>
              <td>{{ topic.message_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
